* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --red: red;
  --dark: #24292e;
  --dark-secondary: #5e646d;
  --light: #ffffff;
  --light-secondary: #dfe6ec;
  --link: #1b79e2;
  --css: #563d7c;
  --js: #f1e05a;
  --success: #2ea44f;
  --highlight: #f9826c;
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  color: var(--dark);
}

.right {
  width: 120px;
  float: right;
  display: flex;
  justify-content: space-between;
  margin-top: +6px;
}

nav {
  padding: 15px 30px;
  background-color: var(--dark);
}

a {
  text-decoration: none;
}

.nav-link {
  color: var(--light);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
}

.nav-link:hover {
  transition: ease-in-out, 0.2s ease-in-out;
  opacity: 0.8;
}

/* quick margin and padding */
.mx-6 {
  margin: 0 6px;
}
.mx-3 {
  margin: 0 3px;
}
.mx-9 {
  margin: 0 9px;
}

.mt-10 {
  margin-top: 10px;
}
.py-6 {
  padding: 6px 0;
}

input[type='search'] {
  padding: 6px 12px;
  background-color: var(--dark);
  border: 1px solid var(--dark-secondary);
  border-radius: 6px;
  color: var(--light-secondary);
  width: 260px;
  height: 28px;
}
::placeholder {
  color: var(--light-secondary);
}

.nav-search {
  position: relative;
  top: -2px;
}

.duo-icon {
  display: flex;
  align-items: center;
}

.icon-bg {
  margin-bottom: -10px;
  width: 32px;
}

.icon-md {
  margin-bottom: -10px;
  width: 20px;
}

.icon-sm {
  width: 13px;
}
.icon-mm {
  width: 8px;
}

.icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile-icon {
  border-radius: 50px;
  margin-top: -10px;
  width: 20px;
}

.mobile-only {
  display: none;
}

.pop-up {
  width: 150px;
  background: var(--light);
  border: 1px solid var(--light-secondary);
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}

.add-pop-up {
  position: absolute;
  right: 80px;
  top: 47px;
}
.profile-pop-up {
  position: absolute;
  right: 30px;
  top: 48px;
}

.pop-up-pointer {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -6px;
  left: 125px;
  background: var(--light);
  transform: rotate(-45deg);
}

.pop-up-link {
  z-index: 2;
  display: block;
  line-height: 200%;
  padding-left: 10px;
  color: var(--dark);
}
.pop-link {
  z-index: 2;
  display: block;
  line-height: 200%;
  padding-left: 10px;
  color: var(--dark);
}
.pop-up-link:hover {
  z-index: 2;
  background-color: var(--link);
  color: var(--light);
}

.pop-disappear {
  display: none;
}

.pop-up-screen {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
}

.navigator {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--light-secondary);
}
.navigator-link {
  padding-bottom: 10px;
  padding-left: auto;
  padding-right: auto;
  width: 150px;
  line-height: 200%;
  padding-left: 10px;
  color: var(--dark);
  opacity: 0.8;
}
.navigator-link:hover {
  border-bottom: 2px solid #bdbfc4;
}

.active {
  opacity: 1;
  font-weight: 600;
  border-bottom: 2px solid var(--highlight);
  cursor: pointer;
}

.badge {
  margin-left: 10px;
  padding: 0px 8px;
  line-height: 180%;
  background-color: var(--light-secondary);
  border-radius: 15px;
}

/* Here's what happens when you open the page on a mobile device */
@media screen and (max-width: 850px) {
  nav {
    padding-left: 10px;
  }

  .nav-link {
    display: block;
    margin: 0;
  }

  .right {
    display: block;
    width: 100%;
  }

  nav {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .tall {
    line-height: 40px;
  }

  .div-link {
    color: var(--light);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
  }

  input[type='search'] {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 98%;
    height: 28px;
  }

  .notification {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .brand {
    position: relative;
    top: -15px;
    margin-left: auto;
    margin-right: auto;
  }

  .menu {
    margin-top: 8px;
  }

  .split-bottom {
    border-bottom: 1px solid var(--dark-secondary);
  }
  .split-top {
    border-top: 1px solid var(--dark-secondary);
  }

  .profile-icon {
    margin: 0;
    padding: 0;
  }

  .disappear {
    display: none !important;
  }
}
